POSTGRES_DB=sensor_platform
POSTGRES_USER=sensor
POSTGRES_PASSWORD=sensor
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

MQTT_HOST=mosquitto
MQTT_PORT=1883
MQTT_USERNAME=
MQTT_PASSWORD=

ALERT_DEFAULT_WEBHOOK=http://host.docker.internal:9999/webhook
ALERT_DEFAULT_EMAIL=ops@example.com

SIM_NODE_COUNT=5
SIM_PUBLISH_INTERVAL_SECONDS=1
